#topMenu {
    list-style: none;
    margin: 0;
    background: #ccc;
    border: 1px solid #eee;
    border-radius: 1px;
    overflow: hidden;
    padding: 3px;
    padding-left: 8px;
    text-shadow: 1px 1px #f9f9f9;
}

#topMenu input {
    padding: 0;
    margin: 0;
}

#topMenu > li {
    float: left;
    margin: 0;
    margin-right: 5px;
    position: relative;
}

#topMenu > li .sub {
    text-align: left;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    height: 150px;

    max-height: 0;
    max-width: 0;

    -webkit-transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
    -moz-transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
    -o-transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
    transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
}

#topMenu > li:hover .sub {
    max-height: 960px;
    max-width: 960px;

    -webkit-transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
    -moz-transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
    -o-transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
    transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
}

.sub .selected {
    display: none;
}

#canvas {
    position: absolute;
    overflow: hidden;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas ul {
    position: relative;
    overflow: hidden;
    list-style: none;
    overflow-y: auto;
    background: rgba(244, 244, 244, .5);
    padding: 10px;
}

#from {
    float: left;
}

#to {
    float: right;
}

#canvas ul li {
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
}

header {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
}