#topMenu {
    list-style: none;
    margin: 0;
    background: #ccc;
    border: 1px solid #eee;
    border-radius: 3px;
    overflow: hidden;
    padding: 3px;
    padding-left: 8px;
    text-shadow: 1px 1px #f9f9f9;
}

#topMenu input {
    padding: 0;
    margin: 0;
}

#topMenu > li {
    float: left;
    margin: 0;
    margin-right: 5px;
    position: relative;
}

#topMenu > li .sub {
    text-align: left;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    height: 150px;

    max-height: 0;
    max-width: 0;

    -webkit-transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
    -moz-transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
    -o-transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
    transition: max-height .7s ease-in-out .2s, max-width .2s ease-in-out .9s;
}

#topMenu > li:hover .sub {
    max-height: 960px;
    max-width: 960px;

    -webkit-transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
    -moz-transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
    -o-transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
    transition: max-height .5s ease-in-out .3s, max-width .2s ease-in-out .1s;
}

.sub .selected {
    display: none;
}

#canvas {
    position: absolute;
    overflow: hidden;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas ul {
    position: relative;
    overflow: hidden;
    list-style: none;
    overflow-y: auto;
    background: #ccc;
    padding: 10px;
    margin-top: 45px;
    color: rgba(244, 244, 244, 1);
    background: rgba(244, 244, 244, .3);
}

#from {
    float: left;
    text-align: right;
    padding-right: 2px !important;
}

#to {
    float: right;
    padding-left: 2px !important;
}

#canvas ul li {
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px;
}

#canvas span {
    border: 1px solid #fff;
    padding: 2px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
}

header {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 5px;
}

#barcont {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background: rgba(244, 244, 244, .2);
}

#barcont .area {
    fill: steelblue;
    stroke: #ccc;
    clip-path: url(#clip);
}

#barcont .areaEvent {
    fill: #6f6;
    fill-opacity: .125;
    stroke: #cfc;
    clip-path: url(#clip);
}

#barcont .maxline path,
#barcont .maxlineEvent path,
#barcont .axis path,
#barcont .axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

#barcont .maxlineEvent path {
    stroke: #8DB3D3;
}

#barcont .maxlineEvent path {
    stroke: #cfc;
}

#barcont .maxline path,
#barcont .maxlineEvent path {
    stroke-opacity: .5;
    stroke-dasharray: 9, 5;
}

#barcont .maxlineEvent text {
    fill: #cfc;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

#barcont .maxline text {
    fill: #8DB3D3;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

#barcont .axis text {
    fill: #ccc;
}


#barcont .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

#spinner {
    width: 50px;
    height: 30px;
    font-size: 10px;
}

#spinner > div {
    background-color: #91b50e;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

#spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4) }  
    20% { transform: scaleY(1.0) }
}